.layout{
    height:100vh;
    display: flex;
    flex-direction: column;
}

.cabecalho{
    display: flex;
    color: white;
    background-color:black;
    justify-content: space-between;
    padding: 20px 20px;
}

.cabecalho h1{
    margin: 0;
    font-size: 1.8rem;
    cursor: pointer;
}

.cabecalho a{
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius:5px;
}

.conteudo{
    padding: 25px;
    height: 100%;
}

